# FAA Project - Part One

## Load in Packages

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib Inline

## Combine Inpatient Admission Dataset (2019 & 2020)

### Load in 2019 Inpatient Admission Data

In [94]:
columns = ['ENROLID','YEAR', 'AGE', 'DX1', 'DX2', 
           'DX3', 'DX4', 'DX5', 'DX6', 'DX7', 
           'DX8', 'DX9', 'DX10', 'DX11', 'DX12', 
           'DX13', 'DX14', 'DX15','SEX']

# skiprows = 3855, before that all Enrolid is NaN
df = pd.read_csv('ccaei192_a.csv', skiprows = range(1, 3855),
                                       usecols = columns)

df.head()

,ENROLID,YEAR,AGE,DX1,DX2,DX3,DX4,DX5,DX6,DX7,DX8,DX9,DX10,DX11,DX12,DX13,DX14,DX15,SEX
0,286902,2019.0,65.0,I214,E039,E785,G43909,I10,Z7982,Z79899,Z87891,R079,E876,R0602,NaN,NaN,NaN,NaN,2.0
1,571103,2019.0,57.0,J189,G8250,M8580,N3091,R130,S14109S,Z905,N400,R918,K8020,R05,N3090,R319,R4701,R9341,1.0
2,571103,2019.0,57.0,J690,B952,G8250,J9601,J9811,K921,N390,R1310,T17890A,J189,R000,R0602,J988,M8580,R9389,1.0
3,593902,2019.0,52.0,E10649,I10,K2950,K2980,K311,K315,N390,Q909,Z794,E11649,E162,R109,K838,NaN,NaN,2.0
4,1038502,2019.0,64.0,G5632,F419,G629,I10,I160,I4510,M21332,Z981,G609,I63233,R202,R531,I639,M6281,M2020,2.0

### Load in 2020 Inpatient Admission Dataset

In [95]:
df1= pd.read_csv('ccaei200_a.csv', skiprows = range(1, 3458),
                                    usecols = columns)

df.head()

,ENROLID,YEAR,AGE,DX1,DX2,DX3,DX4,DX5,DX6,DX7,DX8,DX9,DX10,DX11,DX12,DX13,DX14,DX15,SEX
0,286902,2019.0,65.0,I214,E039,E785,G43909,I10,Z7982,Z79899,Z87891,R079,E876,R0602,NaN,NaN,NaN,NaN,2.0
1,571103,2019.0,57.0,J189,G8250,M8580,N3091,R130,S14109S,Z905,N400,R918,K8020,R05,N3090,R319,R4701,R9341,1.0
2,571103,2019.0,57.0,J690,B952,G8250,J9601,J9811,K921,N390,R1310,T17890A,J189,R000,R0602,J988,M8580,R9389,1.0
3,593902,2019.0,52.0,E10649,I10,K2950,K2980,K311,K315,N390,Q909,Z794,E11649,E162,R109,K838,NaN,NaN,2.0
4,1038502,2019.0,64.0,G5632,F419,G629,I10,I160,I4510,M21332,Z981,G609,I63233,R202,R531,I639,M6281,M2020,2.0

### Merge Two Inpatient Admission Dataset Together

In [96]:
dff = pd.merge(df, df1, on=['ENROLID', 'SEX'])

In [97]:
# Drop the duplicates
dff = dff.drop_duplicates(keep='first')

In [98]:
dff.head()

,ENROLID,YEAR_x,AGE_x,DX1_x,DX2_x,DX3_x,DX4_x,DX5_x,DX6_x,DX7_x,DX8_x,DX9_x,DX10_x,DX11_x,DX12_x,DX13_x,DX14_x,DX15_x,SEX,YEAR_y,AGE_y,DX1_y,DX2_y,DX3_y,DX4_y,DX5_y,DX6_y,DX7_y,DX8_y,DX9_y,DX10_y,DX11_y,DX12_y,DX13_y,DX14_y,DX15_y
0,571103,2019.0,57.0,J189,G8250,M8580,N3091,R130,S14109S,Z905,N400,R918,K8020,R05,N3090,R319,R4701,R9341,1.0,2020.0,58.0,D500,G8250,I129,K222,K635,N189,Z87820,Z931,D649,K225,D509,Z431,R1310,R231,D126
1,571103,2019.0,57.0,J690,B952,G8250,J9601,J9811,K921,N390,R1310,T17890A,J189,R000,R0602,J988,M8580,R9389,1.0,2020.0,58.0,D500,G8250,I129,K222,K635,N189,Z87820,Z931,D649,K225,D509,Z431,R1310,R231,D126
2,1092607,2019.0,54.0,L03113,D649,E039,F17210,G629,G8929,I10,I2510,L03116,S51852A,D72829,S81852A,W540XXA,K219,NaN,2.0,2020.0,55.0,S72145A,E039,F17210,I10,I2510,M5030,R636,Z681,S72142A,S72002A,Z01818,D72829,W108XXA,Z79899,R8290
3,1092607,2019.0,54.0,L03011,D649,E039,F909,G8929,I2510,I252,M542,M549,S61451A,L0390,L03113,NaN,NaN,NaN,2.0,2020.0,55.0,S72145A,E039,F17210,I10,I2510,M5030,R636,Z681,S72142A,S72002A,Z01818,D72829,W108XXA,Z79899,R8290
4,2676601,2019.0,50.0,K264,D123,D125,D509,D62,E876,F17210,F329,F4310,I517,M79604,R531,I5031,K922,C8190,2.0,2020.0,51.0,K921,B182,D509,E7800,E785,F329,F4310,I110,I420,K922,K208,K635,B1920,R1031,D123

In [99]:
dff.shape

(54543, 36)

## Combine Perscription Drug Datasets

### Load in 2019 Perscription Drug Data

In [54]:
col = ['ENROLID', 'NDCNUM']

df_d19 = pd.read_csv('ccaed192_a.csv', skiprows = range(1, 1000000),
                                       usecols = col)

df_d19.head()

     ENROLID       NDCNUM
0  131835305  49483062081
1  131835305  63304082905
2  131835305    310621030
3  131835305  63304082905
4  131835305    115552202

### Load in 2020 Perscription Drug Data

In [55]:
df_d20 = pd.read_csv('ccaed200_a.csv', skiprows = range(1, 1000000),
                                        usecols = col)

df_d20.head()

     ENROLID        NDCNUM
0  132012603  3.172207e+10
1  132012603  5.011108e+10
2  132012603  6.043206e+10
3  132012603  6.516205e+10
4  132012604  1.162001e+08

## Concate Two Perscription Drug Data

In [60]:
d = pd.concat([df_d19, df_d20])

### Load in red book data

In [61]:
red = pd.read_csv('redbook.csv', usecols = ['NDCNUM', 'PRODNME'])

## Merge Perscription Drug Tables and RedBook Table

In [62]:
dd = pd.merge(red,d, on='NDCNUM')

In [66]:
dd.shape

(17849535, 3)

In [64]:
# Drop Duplicates
dd.drop_duplicates(keep='first', inplace=True)

In [65]:
dd.head()

     NDCNUM            PRODNME     ENROLID
0  67203924  EXCEDRIN MIGRAINE  1380169301
1  67203924  EXCEDRIN MIGRAINE   603080704
2  67434504     TRANSDERM SCOP   618101302
3  67434604     TRANSDERM SCOP   131868101
4  67434604     TRANSDERM SCOP   133737501

In [13]:
# Two perscription Drug Data

# This takes a while
# dd = pd.merge(df_d19, df_d20, on=['ENROLID']) 

# Drop duplicates
#dd = dd.drop_duplicates(subset=['ENROLID'], keep='first')

#dd.shape

## Merge Inpatient Admission and Perscription Drug Tables

In [100]:
newdf = pd.merge(dff, dd, on=['ENROLID'], how = 'inner')

In [1]:
pd.set_option('max_column', None)
newdf.head()

NameError: name 'pd' is not defined

In [102]:
# Drop duplicates
# newdf = newdf.drop_duplicates(subset=['ENROLID'], keep='first')

In [104]:
newdf.shape

(1574047, 38)

In [105]:
newdf.nunique().head()

ENROLID    11544
YEAR_x         1
AGE_x         65
DX1_x       2933
DX2_x       2283
dtype: int64

In [106]:
pd.set_option('max_column', None)
newdf.head()

,ENROLID,YEAR_x,AGE_x,DX1_x,DX2_x,DX3_x,DX4_x,DX5_x,DX6_x,DX7_x,DX8_x,DX9_x,DX10_x,DX11_x,DX12_x,DX13_x,DX14_x,DX15_x,SEX,YEAR_y,AGE_y,DX1_y,DX2_y,DX3_y,DX4_y,DX5_y,DX6_y,DX7_y,DX8_y,DX9_y,DX10_y,DX11_y,DX12_y,DX13_y,DX14_y,DX15_y,NDCNUM,PRODNME
0,131842101,2019.0,54.0,K7469,I8511,K2951,K766,R188,M79605,R05,R1900,I8500,E876,R0602,Z9049,F17210,K922,I10,2.0,2020.0,55.0,M19212,E119,E6601,K7460,Z6841,M19012,G8918,G35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93310905,AMOXICILLIN
1,131842101,2019.0,54.0,K7469,I8511,K2951,K766,R188,M79605,R05,R1900,I8500,E876,R0602,Z9049,F17210,K922,I10,2.0,2020.0,55.0,M19212,E119,E6601,K7460,Z6841,M19012,G8918,G35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93312501,DICLOXACILLIN SODIUM
2,131842101,2019.0,54.0,K7469,I8511,K2951,K766,R188,M79605,R05,R1900,I8500,E876,R0602,Z9049,F17210,K922,I10,2.0,2020.0,55.0,M19212,E119,E6601,K7460,Z6841,M19012,G8918,G35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121057716,LACTULOSE
3,131842101,2019.0,54.0,K7469,I8511,K2951,K766,R188,M79605,R05,R1900,I8500,E876,R0602,Z9049,F17210,K922,I10,2.0,2020.0,55.0,M19212,E119,E6601,K7460,Z6841,M19012,G8918,G35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378020810,FUROSEMIDE
4,131842101,2019.0,54.0,K7469,I8511,K2951,K766,R188,M79605,R05,R1900,I8500,E876,R0602,Z9049,F17210,K922,I10,2.0,2020.0,55.0,M19212,E119,E6601,K7460,Z6841,M19012,G8918,G35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378021610,FUROSEMIDE

## Save combined data to a new dataset for convenience

In [107]:
newdf.to_csv('combined_data.csv')